services:
  rancher-kf:
    image: rjchicago/rancher-kf:${TAG:-latest}
    build: .
    volumes:
      - ./entrypoint.sh:/entrypoint.sh  # For local development
      - ./.kube:/.kube
    env_file:
      - .env
    stdin_open: true
    tty: true